@CHARSET "UTF-8";

body{




}

.Wrap{
  display: block;
	width: 1200px;
	min-height: 800px;
	overflow: auto;
	margin: 0px auto 0px auto;
	box-sizing: border-box;

}

.header{
  background-color: blue;
  width: 1200px;
  height: 100px;
  text-align: center;
  color: #fff;
}

.mainnavheader{
  padding-left: 10px;
  background-color: gray;
  width: 190px;
  float: left;
  clear: none;
}

.main{
  padding-left: 10px;
  width: 790px;
  float: left;
  clear: none;
}

.latestheader{
  padding-left: 10px;
  width: 190px;
  float: right;
  clear: none;
}

.footer{
  background-color: #242424;
  width: 1200px;
  height: 50px;
  clear: both;
  color: #fff;
  text-align: center;
}

